MONGO_URI=mongodb+srv://usuario:password@cluster0.xxxxx.mongodb.net/patricia_auth?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=minimo-32-caracteres-aqui-minimum-32-chars
JWT_EXPIRATION=900000
PORT=9090
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu-email@gmail.com
MAIL_PASSWORD=tu-app-password
MAIL_DEV_MODE=true
